* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
  aspect-ratio: auto;
}

a {
  text-decoration: none;
}

.top {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.header_bg {
  width: 100%;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1129px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header_checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

.header_checkbox:checked~.mobile_menu {
  right: 0;
}

.mobile_menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  transition: right 0.6s;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}

.mobile_menu_link_site {
  align-items: center;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: none;
}

.mobile_menu_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.mobile_menu_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.mobile_menu_link:hover {
  color: #F16D7F;
}

.mobile_menu_title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.mobile_menu_list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}

.mobile_menu_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.promo_bg {
  width: 100%;
  background: #F1E4E6;
  display: flex;
  justify-content: center;
}

.promo {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.promo_img {
  width: 50%;
}

.promo_content {
  width: 46.036%;
  display: flex;
  align-items: center;
}

.promo_info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo_title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.sale_bg {
  width: 100%;
  background: #FFF;
  display: flex;
  justify-content: center;
}

.sale {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
  margin-bottom: 96px;
}

.sale_item,
.sale_item_big {
  position: relative;
}

.sale_item {
  width: 31.5789%;
  margin-bottom: 30px;
}

.sale_item_big {
  width: 100%;
}

.sale_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}


.product_box {
  width: 100%;
  max-width: 1140px;
}

.product_box_info {
  width: 100%;
  margin-bottom: 48px;
}

.product_box_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product_box_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product_box_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 31.5789%;
  margin-bottom: 30px;
  position: relative;
}

.product:hover .product_img {
  filter: brightness(0.5);
}

.product:hover .product_add {
  display: flex;
}

.product_img {
  width: 100%;
}

.product_add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product_add:hover {
  box-shadow: 0 0 5px #fff;
}

.product_add:hover svg path {
  fill: #F16D7F;
}

.product_content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product_price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.add_product_button_box {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}

.add_product_button {
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add_product_button:hover {
  color: #FFF;
  background-color: #F16D7F;
}


.advantages {
  width: 100%;
  max-width: 1140px;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages_item {
  width: 31.5789%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.advantages_img {
  width: 47px;
  height: 40px;
}

.advantages_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe_bg {
  width: 100%;
  /* background: url(img/layer.png), lightgray 0px -169px / 100% 246.875% no-repeat; */
  background-image: url(img/layer.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.subscribe {
  width: 100%;
  max-width: 1140px;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
}

.subscribe_info {
  width: 31.5789%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.subscribe_info_img {
  width: 26.6667%;
}

.subscribe_info_text {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe_info_text span {
  font-style: italic;
}

.subscribe_form {
  width: 48.8596%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.subscribe_title {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  /* 40.128px */
}

.subscribe_subtitle {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.subscribe_email {
  width: 356px;
  display: flex;
}

.subscribe_email_input {
  width: 256px;
  height: 49px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url(img/input.svg);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding-left: 22px;
}

.subscribe_email_button {
  width: 100px;
  height: 49px;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url(img/button.svg);
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  border: none;
}

.footer {
  width: 100%;
  max-width: 1140px;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social {
  width: 148px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.social_icon {
  background-color: #FFF;
  width: 21.2838%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon:hover {
  background-color: #F16D7F;
}

.social_icon:hover svg path {
  fill: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: 695px;
    min-height: 74px;
  }

  .promo {
    max-width: 768px;
  }

  .promo_content {
    width: 44.9219%;
    justify-content: center;
  }

  .promo_info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
  }

  .promo_title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 58px;
    color: #222222;
  }

  .promo_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #222222;
  }

  .sale {
    max-width: 736px;
    padding-top: 65px;
    margin-bottom: 110px;
  }

  .sale_item {
    margin-bottom: 20px;
  }

  .product_box {
    max-width: 736px;
  }

  .product_box_info {
    margin-bottom: 72px;
  }

  .product {
    width: 48.913%;
    margin-bottom: 15px;
  }

  .add_product_button_box {
    padding-top: 17px;
    padding-bottom: 65px;
  }

  .advantages {
    max-width: 360px;
    padding-top: 48px;
    padding-bottom: 16px;
  }

  .advantages_item {
    width: 100%;
    margin-bottom: 48px;
  }

  .subscribe {
    max-width: 557px;
    padding-top: 64px;
    padding-bottom: 140px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .subscribe_info {
    width: 64.4524%;
    margin-bottom: 48px;
  }

  .subscribe_form {
    width: 100%;
    gap: 27px;
  }

  .footer {
    max-width: 704px;
  }
}


@media screen and (max-width: 767px) {
  .header {
    max-width: 343px;
    min-height: 74px;
  }

  .header_right a {
    display: none;
  }

  .promo {
    max-width: 375px;
  }

  .promo_img {
    display: none;
  }

  .promo_content {
    width: 100%;
    padding: 148px 56px;
    justify-content: center;
  }

  .promo_info {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
  }

  .promo_title {
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    color: #222222;
  }

  .promo_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #222222;
  }

  .sale {
    max-width: 343px;
    padding-top: 64px;
    margin-bottom: 64px;
    justify-content: center;
  }

  .sale_item {
    width: 100%;
    margin-bottom: 32px;
  }

  .sale_item_big img {
    aspect-ratio: 3.15;
  }

  .product_box {
    max-width: 359px;
  }

  .product_box_info {
    margin-bottom: 64px;
  }

  .product {
    width: 100%;
    margin-bottom: 15px;
  }

  .add_product_button_box {
    padding-top: 25px;
    padding-bottom: 96px;
  }

  .advantages {
    max-width: 348px;
    padding-top: 48px;
    padding-bottom: 34px;
  }

  .advantages_item {
    width: 100%;
    margin-bottom: 47px;
  }

  .subscribe {
    max-width: 343px;
    padding-top: 64px;
    padding-bottom: 110px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .subscribe_info {
    width: 100%;
    margin-bottom: 59px;
  }

  .subscribe_info_text {
    font-size: 18px;
  }

  .subscribe_form {
    width: 99.4169%;
    gap: 22px;
  }

  .subscribe_subtitle {
    font-size: 14px;
    line-height: 153.2%;
  }

  .footer {
    max-width: 251px;
    padding-top: 43px;
    padding-bottom: 9px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}